.post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 14px;
    padding: 1.5rem;
    background: $white;

    &:hover {
        background: #f5f8fa;
    }

    &:last-of-type {
        border-bottom: 1px solid $light;
    }

    h5 {
        margin: 0 0 0.5rem;
    }
    span {
        display: block;
        font-size: 12px;
        margin-bottom: 0.5rem;
        color: darken($light, 25%);
    }
    p {
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 1rem 0 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 1rem;
            font-size: 12px;
        }
    }
    .flexWrap {
        display: flex;
        flex-wrap: wrap;

        .userDisplay {
            padding-right: 10px;
            padding-left: 12px;
            display: inline;
            align-content: center;
            align-items: center;
            

            span.displayName {
                display: inline;
                font-size: 1.1rem;
                padding-right: 6px;
                color: darken($dark, 14%);
            }

            p {
                display: inline-block;
                font-size: 1rem;
                color: lighten($dark, 15%);
                margin: 0;
            }
        }

        .userPostContent {
            width: 100%;
            flex-wrap: wrap;

            p {
                color: darken($dark, 14%);
            }
            
        }
    }
}